<ul class="submenu">
<li><div class="filter" data-filter="all">Show All</div></li>
<% photos.each do |key, pics| %>
<li><div class="filter" data-filter=".category-<%=key%>"><%=key%></div></li>
<% end %>
</ul>

<div id="container">
    <% photos.each do |key, pics|
    	pics.each do |p| %>

     <div class="mix category-<%=key%>"><img src="images/photo/<%=key%>/<%=p%>" data-large="images/photo/<%=key%>/big_<%=p%>" alt="image01" /></div>
                
              <% 
          end
       end %>
</div>

<style>
#container .mix{
	display: none;
}
.mix img:hover { height: 500px; width: auto; }
</style>

<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script>
$(function(){
	$('#container').mixItUp();
});
</script>


